<body>
  <h2>Choose your favorite picture! Featuring Dogs & Foxes</h2>
  <div class="start">
    <form action="/game" method="get">
      <button type="submit">Start Game</button>
    </form>
  </div>

<p></p>

  <div class="start"> 
    <img src="https://media4.s-nbcnews.com/i/streams/2013/December/131209/2D9892464-dog5.jpg" alt= "A dog and fox in the snow">
  </div>
</body>
