<body>
  <h2>Choose your favorite! Featuring Dogs & Foxes</h2>
  <div class="start">
    <form action="/game" method="get">
      <button type="submit">Start Game</button>
    </form>
  </div>
</body>
