<div class="done">
  <form action="/game" method="get">
    <button type="submit">Poor guy! Go again?</button>
  </form>
</div>

<h2>Winners</h2>
<div class= "winner">
  <img src="<%= params['win'] %>" alt="Winning Image">
</div>

<h2>Losers</h2>
<div class= "loser">
  <img src="<%= params['lose'] %>" alt="Losing Image">
</div>

<p></p>
